[Unit]
Description=SOC Node Sensor - Lector de logs SSH en vivo
After=network.target

[Service]
Type=simple
# Cambiar 'pi' por tu nombre de usuario si procede
User=root
# Asegurar la ruta donde tenéis clonado u hospedado el archivo
WorkingDirectory=/home/pi/TFG/pi4-felix/
ExecStart=/usr/bin/python3 /home/pi/TFG/pi4-felix/agente_monitor.py
Restart=on-failure
RestartSec=10
# Evita que el servicio use el log estándar y que todo el output no se pierda en el limbo
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
